.guessing {
    max-width: 600px;
    margin: auto;
    text-align: center;
    padding: 20px;
    border: 1px solid black;
    border-radius: 10px;
}

.imageLeft{
    float: left;
}

h1 {
    margin-top: auto;
}

input {
    padding: 5px;
    font-size: 16px;
    margin-right: 5px;
}

button {
    padding: 5px 10px;
    font-size: 16px;
    background-color: black;
    color: white;
    border: cornflowerblue;
    border-radius: 5px;
    cursor: pointer;
}
button:hover {
    background-color: cadetblue;
}

p#result {
    font-size: 25px;
    font-weight: bold;
    margin-top: 20px;
}
body{
    background-image: url("https://wallpaper.dog/large/10953359.jpg");
}

.anything{
    vertical-align: text-top;
    width: 10%;
    height: 10%;
    postion: relative;

}

.anything2{
    float: right;
}
