*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100%;
    background-color: darkblue;
}

h1{
    text-align: center;
    margin: 1rem 0 3rem;
}

title{
    color: chartreuse;
    font-weight: 1;
    font-size: 120px;
}

.inputSpace{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: -30%;
}
.input{
    padding: 0.5rem 1rem;
    height: 40px;
    border-radius: 50px;
    width: 550px;
    margin: 0.40rem;
    margin-left: 30%;
    transition: .5s;    /*transition for animation*/
    font-size: 1.15rem;
    background-color: gold;

}

.add
{
    outline: none;
    border: none;
    border-radius: 10px;
    background-color: #e6ee06;
    color: black;
    cursor: pointer;
    transition: 0.5s;
    margin: 0.25rem;
    margin-left: 1%;
    height: 40px;
    width: 100px;
}

.add:hover
{
    background: chartreuse;
    letter-spacing:  1px;
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 2rem;
    margin-top: 2rem;
}

.item_input{
    background: powderblue;
    outline: none;
    border: 3px solid #91EAE4;
    border-radius: 10px;
    padding: 10px;
    color: #000000;
    margin-top: 15px;
    font-size: 20px;
    width: 405px;
    height: 35px;
}
.remove{
    background: none;
    outline: none;
    border: none;
    color: red;
    font-size: 2rem;
    margin-left: 30px;
    cursor: pointer;
    font-size: 20px;
    cursor: pointer;
    border-radius: 150px;
    background-color: red;
    color: #ffffff;
    cursor: pointer;
    height: 35px;
    width: 35px;
}

#remove
{
    font-size: 20px;
    cursor: pointer;
    border-radius: 150px;
    background-color: red;
    color: #ffffff;
    cursor: pointer;
    height: 35px;
    width: 35px;
}

#remove:hover{   /*hover effects*/
    background-color: limegreen;
}

.dot {
    height: 15px;
    width: 15px;
    background-color: chartreuse;
    border-radius: 50%;
    display: inline-block;    /*in line so, it can move down as it goes*/
    background-image: linear-gradient(orange, chartreuse);    /*gradient*/
}