* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    cursor: none;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    background: #e6e9ff;
    margin: 20px;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

.rightside {
    margin: -13vw auto;
    margin-top: 10vw;
}

.chat-header {
    background: deepskyblue;
    color: rgb(231, 229, 239);
    padding: 0.5vw;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.leftside {
    float: left;
    width: 21vw;
}

#boxleft {
    background: #252121;
    margin-top: -1.1vw;
    height: 32.9vw;
    padding: 2vh 1vw;
    margin-right: 4vw;
}

.chat-messages {
    padding: 2.06vw;
}

.chat-messages .message {
    padding: 10px;
    margin-bottom: 15px;
    background-color: white;
    border-radius: 5px;
    overflow-wrap: break-word;
}

.chat-messages .message .meta {
    font-size: 15px;
    font-weight: bold;
    color: #dbdde8;
    opacity: 0.7;
    margin-bottom: 7px;
}

.chat-messages .message .meta span {
    color: #777;
}

.chat-form-container {
    height: 6.3vw;
    margin-top: 1.46vw;
    background: deepskyblue;
}

.chat-form-container form {
    display: flex;
}

.chat-form-container input[type='text'] {
    font-size: 16px;
    padding: 5px;
    height: 40px;
    flex: 1;
}

.join-container {
    max-width: 500px;
    margin: 80px auto;
    color: #fff;
}

.join-header {
    text-align: center;
    padding: 20px;
    background: #122ad5;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.join-main {
    padding: 30px 40px;
    background: #28378d;
}

.join-main p {
    margin-bottom: 20px;
}

.join-main .form-control {
    margin-bottom: 20px;
}

.join-main label {
    display: block;
    margin-bottom: 5px;
}

.join-main input[type='text'] {
    font-size: 16px;
    padding: 5px;
    height: 40px;
    width: 100%;
}

.join-main select {
    font-size: 16px;
    padding: 5px;
    height: 40px;
    width: 100%;
}

.join-main .btn {
    margin-top: 20px;
    width: 100%;
}

#room{
    margin: 0;
    top: 25%;
    left: 5%;
    color: white;
}

#log{
    background-color: #989595
}

#input{
    background-color: #989595
}

::placeholder{
    color: #000000;
    opacity: 1;
}

.cursor{
    position: absolute;
    left: 0;
    top: 0;
    border-radius: 100px;
    border: 2px solid red;
    height: 30px;
    width: 30px;
    transform: translate(-50%, -50%);
    pointer-events: none;
}

.cursor::after{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    border-radius: 5px;
    border: 2px dashed orange;
    height: 6px;
    width: 6px;
    transform: translate(100%,100%);
    pointer-events: none;
}

/*Tic tac toe board*/
#board{
    display: grid;
    grid-template-rows: 100px 100px 100px;
    grid-template-columns: 100px 100px 100px;
    text-align: center;
    margin-left: 40%;
}

/*Tic tac toe Title*/
#TTT{
    margin-left: 130px;
}

#winner{
    margin-left: 28.2%;
    margin-top: -18.2%;
    float: left;
}